{{ partial "header.html" . }}
<body>
<style>
  body {
    padding-left: 0 !important;
  }
  p {
    width: 100%;
  }
</style>
<div id="homepage">
{{ partial "brand.html" . }}
{{ partial "banner.html" . }}
{{ partial "nav.html" . }}
{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ range first 10 $pages }}
      {{ partial "content.header.html" . }}
      <p>{{ .Params.excerpt }}</p>
      <p><a href="{{ .RelPermalink | relURL }}">Read On &rarr;</a></p>
      <hr>
{{ end }}
{{ partial "footer.html" . }}
</div>
</body>
</html>
